@import url(global.css);
@import url(header.css);
@import url(footer.css);
.header {
  background-image: none;
  background-color: var(--background-color);
}
.main {
  background-color: var(--background-color);
  padding: 90px 24px;
}
.blog__title {
  color: var(--text-color);
  font-size: 34px;
  letter-spacing: 1.02px;
  font-weight: 700;
}
.blog__posts {
  margin: auto;
  margin-top: 45px;
  height: 450px;
  border: 1px solid var(--blog-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__posts-nofeed {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
}
.blog__posts-content {
  visibility: hidden;
}
