.footer {
    background-color: var(--background-color);
    line-height: 28.5px;
    border-color: var(--background-color);
}
.footer__nav {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 65px;
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    .footer__nav {
        display: flex;
        flex-direction: row;
    }
}

img.footer__logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 161px;
}
.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 16px;
    margin-top: 50px;
    list-style-type: none;
}
.footer__list-item {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer__underline {
    margin-right: 24px;
    margin-left: 24px;
    height: 1px;
    background-color: var(--description-text-color);
    border-color: var(--description-text-color);
}
#unnecesary-information {
    color: var(--description-text-color);
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}