.quality {
    padding: 90px 24px;
    background-color: var(--background-color);
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quality__title, .quality__video-title{
    font-family: "BenchNine", sans-serif;
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: bold;
}

.quality__header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    width: 100%;
}

.quality__title {
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 1.02px;
    text-align: center;
}

.quality__title-underscore {
    background-image: url(../img/block-title-underscore.png);
    background-position: 50% 50%;
    background-size:contain;
    background-repeat: no-repeat;
    margin-top: 25px;
    height: 32px;
    width: 100%;
}
.quality__description {
    margin-top: 20px;
    color: var(--description-text-color);
    font-size: 19px;
    line-height: 28.5px;
    text-align: center;
}

.quality__video {
    margin-top: 45px;
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 25px;
    align-items: center;
}

.quality iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.quality__video-title {
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: 0.54px;
}

.quality__video-text {
    color: var(--text-color);
    font-size: 17px;
    line-height: 25.5px;
}

@media (min-width: 768px) {
    .quality {
        padding: 92.5px 32px 95px 32px;
    }

    .quality__header {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 30px;
        grid-template-areas: 
            "left title right"
            "left underscore right"
            "left description right";
    }

    .quality__title {
        font-size: 40px;
        letter-spacing: 1.2px;
        align-items: center;
        grid-area: title;
    }

    .quality__title-underscore {
        grid-area: underscore;
    }

    .quality__description {
        grid-area: description;
    }

    .quality__header-left-spacing {
        grid-area: left;
    }

    .quality__header-right-spacing {
        grid-area: right;
    }

    .quality__video {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "video title"
            "video text";
        column-gap: 30px;
    }

    .quality iframe {
        grid-area: video;
    }

    .quality__video-title {
        margin-top: 0;
        align-self: end;
        grid-area: title;
        font-size: 19px;
        letter-spacing: 0.57px;
    }

    .quality__video-text {
        align-self: start;
        grid-area: text;
    }
}

@media (min-width: 992px) {
    .quality {
        padding: 95px 40px 100px 40px;
    }

    .quality__title {
        font-size: 46px;
        letter-spacing: 1.38px;
    }

    .quality__video-title {
        font-size: 21px;
        letter-spacing: 0.63px;
    }
}